*{
    box-sizing: border-box;
}


body{
    background: #2d2013;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}
/* 
.container{
    mar
} */

.container{
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}